@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: rgb(29, 29, 29) transparent;
}

body{
    background-color: rgb(10,10,11);
    color: #EEEEEE;
}

.absolute-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@layer utilities {
    .default-px {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .default-py {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  
    @screen md {
      .default-px {
        padding-left: 40px;
        padding-right: 40px;
      }
      .default-py {
        padding-top: 72px;
        padding-bottom: 72px;
      }
    }
  
    @screen lg {
      .default-px {
        padding-left: 60px;
        padding-right: 60px;
      }
      .default-py {
        padding-top: 90px;
        padding-bottom: 90px;
      }
    }
  }
